a {
  text-decoration: none !important;
}
.secondary-article-content {
  height: 100%;
  width: 100%;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  > img {
    width: 100%;
    height: 255px;
    object-fit: cover;
    margin-bottom: 10px;
    @media (min-width: 1200px) {
      height: 300px;
    }
    @media (min-width: 1400px) {
      height: 350px;
    }
    @media (max-width: 992px) {
      height: 300px;
    }
    @media (max-width: 768px) {
      height: 250px;
    }
    @media (max-width: 575px) {
      height: 200px;
    }
  }
  > h2 {
    color: #fff;
    text-align: justify;
    font-family: 'Outfit', sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  p {
    color: #fff;
    text-align: justify;
    font-family: 'Outfit', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  > div {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    > p {
      text-transform: capitalize;
    }
  }
}
