.orderBackground {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  z-index: 101;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
}

.order-position {
  position: absolute;
  padding: 0 25px;
  padding-bottom: 40px;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  @media (max-width: 575px), (max-height: 575px) {
    width: 100%;
  }
  @media (max-width: 340px), (max-height: 340px) {
    padding: 0 5px;
  }
}

.order {
  background-color: #1f1f1f;

  overflow: hidden;
  width: 100%;
  @media (max-width: 575px), (max-height: 575px) {
    border-radius: 8px;
  }

  &__cross {
    background-image: url('../../Assets/crossorder.svg');
    background-size: contain;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 8px;
    right: 18px;
    fill: #adaeaf;
    stroke: #adaeaf;
    @media (max-width: 575px), (max-height: 575px) {
      width: 40px;
      height: 40px;
    }
  }

  &__cross:hover,
  &__cross:active,
  &__cross:focus-visible {
  }

  &__content {
    padding: 35px 85px 80px;

    @media (max-width: 575px) {
      padding: 20px 5px 50px;
      display: flex;
      flex-direction: column;
      align-items: space-between;
    }
  }

  .idpc-select-container {
    position: relative;
    background-color: #3e3e3e;
    margin-top: 20px;
    font-weight: 300;
    line-height: normal;
    text-transform: capitalize;
    padding: 1rem 0.75rem;
    border-radius: var(--bs-border-radius);
    select {
      color: #fff;
      font-family: Outfit;
      font-size: 1rem;
      font-style: normal;
      line-break: loose;
      font-weight: 300;
      line-height: normal;
      width: 100%;
      border: none;
      background-color: #3e3e3e;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      &:active,
      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
    &:after {
      content: ' ';
      position: absolute;
      top: 50%;
      margin-top: -2px;
      right: 8px;
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid #aaa;
    }
  }

  &__title {
    margin: 0 0 5px;
    text-align: left;
    color: #fff;
    font-family: Outfit;
    font-size: 2rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
  &__product {
    margin: 20px 0;
    display: flex;
    width: 100%;

    &__cross {
      background-image: url('../../Assets/cross.svg');
      background-size: contain;
      width: 2.3rem;
      height: 2rem;
      margin-left: 8px;
    }

    &__group {
      flex-grow: 2;
      display: flex;
      margin-left: 18px;
      flex-direction: column;
      justify-content: end;

      @media (max-width: 575px), (max-height: 575px) {
        width: 250px;
      }
      > .counter {
        margin-top: 9px;
        height: 30px;

        width: 80px;

        > button {
          width: 15px;
          > svg {
            width: 15px;
          }
        }
      }
    }

    &__textGroup {
      display: flex;
      justify-content: space-between;
      flex-grow: 3;

      @media (max-width: 575px), (max-height: 575px) {
        flex-direction: column;
      }
    }

    &__img {
      width: 115px;
      height: 103px;
      border-radius: 8px;
      object-fit: cover;
      
      @media (max-width: 950px), (max-height: 950px) {
        width: 80px;
        height: 80px;
      }

      @media (max-width: 575px), (max-height: 575px) {
        width: 70px;
        height: 70px;
      }
    }

    &__nameCount {
      display: flex;
    }

    &__name {
      width: 300px;

      
      @media (max-width: 950px), (max-height: 950px) {
        width: 180px;
      }

      @media (max-width: 575px), (max-height: 575px) {
        width: 150px;
      }

      @media (max-width: 340px), (max-height: 340px) {
        width: 120px;
      }
    }
    &__text {
      color: #fff;
      font-family: Outfit;
      font-size: 1.3rem;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      text-transform: uppercase;
      text-align: left;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
  &__total {
    padding-top: 15px;
    text-align: right;
    display: block;
    color: #fff;
    font-family: Outfit;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
  }

  &__input {
    color: #fff;
    font-family: Outfit;
    font-style: normal;
    margin: 25px 0;
    width: 100%;
    font-weight: 300;
    line-height: normal;
    text-transform: capitalize;

  @media (max-width: 575px), (max-height: 575px) {
      margin: 10px 0;
    }

    .form-control:-webkit-autofill,
    .form-control:-webkit-autofill:hover,
    .form-control:-webkit-autofill:focus,
    .form-control:-webkit-autofill:active {
      -webkit-box-shadow: 0 0 0 30px #3e3e3e inset !important;
      -webkit-text-fill-color: #ffffff;
    }

    > .form-control:focus ~ label::after {
      display: none;
    }
    > .form-control:not(:placeholder-shown) ~ label::after,
    .form-floating > .form-select ~ label::after {
      display: none;
    }

    > input {
      border: none;
      width: 100%;
      background-color: #3e3e3e;
      color: #fff;
    }

    > label {
      color: #fff !important;
    }
    > input:focus label {
      color: #fff !important;
    }
    > input:focus ~ label::after {
      background-color: #3e3e3e !important;
    }
    > input:focus {
      width: 100%;
      background-color: #3e3e3e;
      color: #fff;
    }
  }

  &__checkBoxes {
    margin: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
  }

  &__postcode {
    display: flex;
    align-items: center;
    > * {
      margin: 0;
    }
  }

  &__button {
    margin-top: 35px;
    border: 2.5px solid #fff !important;
    border-radius: 0 !important;
    width: 100%;
    background: transparent;

    &--findPostcode {
      margin: 0 0 0 20px;
      width: 38%;
      height: 10%;
    }
  }
  &__line {
    display: block;
    margin: 0;
    height: 1px;
    width: 100%;
    border-top: 1px solid #fff;
    opacity: 1;
  }
  &__radioTitle {
    color: #fff;
    text-align: left;
    font-family: Outfit;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
}

.container {
  position: relative;
}

.ornament {
  height: 100%;
  width: 50px;
  position: absolute;
  top: 0;
  background-image: url('../../Assets/ornaments/ornament-about-us.png');
  background-size: contain;
  &--left {
    left: 18px;
  }

  &--right {
    top: 65px;
    right: 18px;
  }

  @media (max-width: 575px) {
    width: 0;
  }
}

.sq-radio {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  color: #fff;
  font-family: Outfit;
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-align: left;
}

/* Hide the browser's default radio button */
.sq-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  border: 1px solid #fff;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 575px), (max-height: 575px) {
    width: 20px;
    height: 20px;
  }
}

.checkmark::after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.sq-radio input:checked ~ .checkmark::after {
  display: block;
}

/* Style the indicator (dot/circle) */
.sq-radio .checkmark::after {
  width: 15px;
  height: 15px;
  background-color: #fff;
}

.errorRadio {
  color: var(--bs-form-invalid-color);
}

.checkbox-wrapper-23 *,
  .checkbox-wrapper-23 *:after,
  .checkbox-wrapper-23 *:before {
    box-sizing: border-box;
  }

  .checkbox-wrapper-23 input {
    position: absolute;
    opacity: 0;
  }
    
  .checkbox-wrapper-23 input:checked + label svg path {
    stroke-dashoffset: 0;
  }
    
  .checkbox-wrapper-23 input:focus + label {
    transform: scale(1.03);
  }

  .checkbox-wrapper-23 input + label {
    display: block;
    border: 1px solid  #fff;
    width: 22px;
    height: 22px;
    border-radius: 6px;
    cursor: pointer;
    transition: all .2s ease;
  }
    
  .checkbox-wrapper-23 input + label:active {
    transform: scale(1.00);
    border-radius: 12px;
  }
    
  .checkbox-wrapper-23 input + label svg {
    pointer-events: none;
    padding: 5%;
    width: 18px;
    height: 18px;
    margin-bottom: 5px;
  }

  .checkbox-wrapper-23 input + label svg path {      
    fill: none;     
    stroke: #fff;
    stroke-width: 4px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 100;
    stroke-dashoffset: 101;
    transition: all 250ms cubic-bezier(1,0,.37,.91);
  }

  .termsGroup {
    display: flex;
    align-items: center;

    &__text {
      color: #aaaaaa;
      font-family: Outfit;
      font-size: 1rem;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      text-align: left;
      margin: 0;
      margin-left: 20px;
    }

    &__link {
      color: #fff;
      font-family: Outfit;
      font-size: 1rem;
      font-style: bold;
      font-weight: 300;
      line-height: normal;
      text-align: left;
    }
  }

  .terms {
    margin-bottom: 30px;
  }