.recipe-item {
  > .recipe-card {
    border-radius: 10px;
    margin: 12px 0;
    border: none;
    box-shadow: none;

    > .recipe-card-img {
      border-radius: 10px 10px 0 0;
      width: 100%;
    }

    > .recipe-card-body {
      border-radius: 0 0 10px 10px;
      text-align: left;
      padding: 13px 0;
      background-color: #1f1f1f;
      > .recipe-card-date {
        display: flex;
        margin: 11px 0 0 11px;
        > .recipe-card-text {
          margin: auto 0 auto 8px;
          color: #fff;
          font-family: 'Outfit', sans-serif;
          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          text-transform: capitalize;
        }
      }
      > .recipe-card-title {
        color: #fff;
        font-family: 'Outfit', sans-serif;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: capitalize;
        text-decoration: none;
        margin: 0 0 0 15px;
      }
      > .recipe-card-text {
        margin: 8px 20px 14px 20px;
        color: #fff;
        text-align: justify;
        font-family: 'Outfit', sans-serif;
        font-size: 15px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        text-transform: capitalize;
      }
      > button {
        width: 90%;
        height: 37px;
        border-radius: 0;
        border: 2px solid #fff;
        font-family: 'Outfit', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        text-transform: uppercase;
        margin: 0 20px;
      }
    }
  }
}
