.contacts-content {
  min-height: 820px;
  height: 90vh;
  background-image: url('../../Assets/contacts-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  position: relative;
  @media (max-width: 575px) {
    height: 95vh;
    min-height: 750px;
  }
  @media (max-width: 300px) {
    height: 900px;
  }
  .contact-card {
    width: 800px;
    height: auto;
    min-height: 500px;
    max-height: 700px;
    border-radius: 10px;
    background: #232323;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
    padding: 25px;
    @media (max-width: 300px) {
      max-height: 800px;
    }
    @media (max-width: 767px) {
      width: 95%;
      padding: 10px 25px 10px 25px;
    }
    @media (max-width: 575px) {
      padding: 0 10px;
    }
    > .row {
      height: calc(100% - 81px - 8px);
      @media (max-width: 767px) {
        height: calc(100% - 51px - 8px);
      }
    }
    .col-contacts-info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      @media (max-width: 991px) {
        padding-right: 30px;
      }
      @media (max-width: 767px) {
        padding-right: 9px;
        height: auto;
        flex-direction: row;
      }
      > .row {
        padding-top: 50px;
        height: 100%;
        display: flex;
        justify-content: space-between;
        @media (max-width: 767px) {
          padding-top: 10px;
        }
        > .col-sm-5 {
          @media (max-width: 575px) {
            width: 41.66666667%;
            flex: 0 0 auto;
          }
          @media (max-width: 300px) {
            width: 100%;
            flex: 0 0 auto;
          }
        }
        > .col-sm-7 {
          @media (max-width: 575px) {
            width: 58.33333333%;
            flex: 0 0 auto;
          }
          @media (max-width: 300px) {
            width: 100%;
            flex: 0 0 auto;
          }
        }
      }
    }
    > h2 {
      color: #fff;
      font-family: 'Outfit', sans-serif;
      font-size: 4rem;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      text-decoration-line: underline;
      text-decoration-thickness: 1px;
      text-underline-offset: 3px;
    }
    .contacts-info {
      display: flex;
      justify-content: start;
      // margin-top: auto;
      > svg {
        margin-top: 3px;
      }
      h2 {
        color: #fff;
        font-family: 'Outfit', sans-serif;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: capitalize;
      }
      p {
        color: #fff;
        font-family: 'Outfit', sans-serif;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
      }
      .contacts-info-text {
        display: flex;
        flex-direction: column;
        align-items: start;
        margin-left: 10px;
        width: calc(100% - 35px) !important;
        @media (max-width: 767px) {
          width: 50%;
        }
        @media (max-width: 300px) {
          width: calc(100% - 45px) !important;
          margin: 0 10px;
        }
        > div {
          display: flex;
          justify-content: space-between;
          position: relative;
          margin-bottom: 15px;
          width: 100%;
          > p {
            color: #fff;
            font-family: 'Outfit', sans-serif;
            font-size: 1.25rem;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            text-align: left;
            margin: 0;
          }
        }
        > div::before {
          content: '';
          width: 100%;
          border-bottom: 1px solid #bebebe;
          position: absolute;
          bottom: -5px;
        }
      }
    }
    .contacts-info:first-child {
      margin: 0;
      @media (max-width: 767px) {
        margin-top: 1.5rem;
      }
    }
  }
  .col-contacts-address {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contact-map {
    height: 350px;
    width: 350px;
    min-width: 350px;
    background-color: dimgrey;
    border-radius: 18px;
    margin-bottom: 15px;
    @media (max-width: 767px) {
      height: 250px;
      width: 250px;
      min-width: 250px;
    }
    @media (max-width: 575px) {
      height: 250px;
      width: 250px;
      min-width: 250px;
    }
  }
  .google-map {
    height: 350px;
    width: 350px;
    border-radius: 18px;
    margin-bottom: 15px;
    overflow: hidden;
    @media (max-width: 575px) {
      height: 300px;
      width: 320px;
    }
    @media (max-width: 370px) {
      width: 100%;
    }
  }
  .address-map {
    color: #fff;
    font-family: Outfit;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
  }
}
