.text-article {
  &__content {
    > h2 {
      color: #fff;
      text-align: justify;
      font-family: "Outfit", sans-serif;
      font-size: 32px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      text-transform: capitalize;
    }
    > hr {
      opacity: 1;
      color: white;
      border-top: 2px solid;
    }
  }
  &__post {
    margin-bottom: 15px;
    border-bottom: 2px solid #b7b7b7;
    > h2 {
      color: #fff;
      font-family: "Outfit", sans-serif;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      text-transform: capitalize;
      text-align: left;
      margin: 20px 0;
    }
    > div {
      display: flex;
      justify-content: space-between;
      > p {
        color: #b7b7b7;
        text-align: justify;
        font-family: "Outfit", sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        text-transform: capitalize;
      }
    }
  }
}
