.blog {
  height: 100%;
  width: 100%;
  margin-top: 95px;
  padding-top: 44px;
  position: relative;
  &__main-article {
    display: flex;
    justify-content: space-between;
    margin-bottom: 22px;
  }
  &__secondary-article {
    > .col-lg-4 {
      margin-bottom: 24px;
    }
    > .col-lg-4:last-child {
      margin-bottom: 0;
    }
  }
  > .ornament-left {
    height: calc(100% + 100px);
    width: 100px;
    background-image: url('../../Assets/ornaments/ornament-blog.png');
    background-size: contain;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 18px;
    @media (max-width: 1590px) {
      display: none;
    }
  }
  > .ornament-rigth {
    height: calc(100% + 100px);
    width: 100px;
    background-image: url('../../Assets/ornaments/ornament-blog.png');
    background-size: contain;
    position: absolute;
    z-index: -1;
    top: 0;
    right: 18px;
    @media (max-width: 1590px) {
      display: none;
    }
  }
}
