.blog {
  &__content {
    height: 100%;
    width: 100%;
    margin-top: 95px;
    margin-bottom: 40px;
    padding-top: 44px;
    position: relative;
    @media (max-width: 767px) {
      margin-top: 85px;
      padding-top: 33px;
    }
    @media (max-width: 575px) {
      margin-top: 75px;
      padding-top: 1rem;
    }
    > .ornament-left {
      height: calc(100vh - 274px);
      width: 100px;
      background-image: url('../../Assets/ornaments/ornament-blog.png');
      background-size: 100%;
      position: absolute;
      z-index: -1;
      top: 0;
      left: 18px;
      @media (max-width: 1590px) {
        display: none;
      }
    }
    > .ornament-rigth {
      height: calc(100vh - 274px);
      width: 100px;
      background-image: url('../../Assets/ornaments/ornament-blog.png');
      background-size: 100%;
      position: absolute;
      z-index: -1;
      top: 0;
      right: 18px;
      @media (max-width: 1590px) {
        display: none;
      }
    }
  }
  &__main-article {
    margin-bottom: 1rem;
  }
  &__secondary-article {
    .col-sm-6 {
      @media (max-width: 575px) {
        width: 50%;
        flex: 0 0 auto;
      }
      @media (max-width: 300px) {
        width: 100%;
        flex: 0 0 auto;
      }
    }
  }
  &__third-placeholder {
    @media (max-width: 991px) {
      display: none;
    }
  }
}
