.product {
  height: 100%;
  max-height: 600px;
  border-radius: 0;
  border: none;
  background: #232323;
  > img {
    width: 100%;
  }
  &__text {
    margin: 14px 17px 40px 17px;
    @media (max-width: 1400px) {
      margin-bottom: 35px;
    }
    @media (max-width: 1200px) {
      margin-bottom: 25px;
    }

    > h2 {
      color: #fff;
      text-align: center;
      font-family: 'Outfit', sans-serif;
      font-size: 1.5rem;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      text-transform: uppercase;
      text-decoration: underline;
      text-align: left;
      margin-bottom: 30px;
    }
    > p {
      max-height: 75px;
      width: 100%;
      color: #fff;
      font-family: 'Outfit', sans-serif;
      font-size: 1rem;
      font-style: normal;
      font-weight: 300;
      text-align: left;
      line-height: 25px;
      margin-top: 20px;
      margin-bottom: 40px;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;

      @media (max-width: 1400px) {
        margin-bottom: 35px;
      }
      @media (max-width: 1200px) {
        margin-bottom: 25px;
      }
    }
    #price {
      color: #fff;
      font-family: 'Outfit', sans-serif;
      font-size: 1.25rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: capitalize;
      text-align: left;
      margin: 0;
    }
  }
  .btn-group {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .btn-outline-light {
    max-width: 120px;
    height: 40px;
    border-radius: 0;
    border: 2px solid #fff;
    font-family: 'Outfit', sans-serif;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
  }
}
