.product-modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 101;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  &__card {
    width: 995px;
    padding: 67px 25px;
    border-radius: 10px;
    background: #1f1f1f;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 102;
    @media (max-width: 1199px) {
      width: 795px;
    }
    @media (max-width: 991px) {
      width: 695px;
    }
    @media (max-width: 767px) {
      width: 95%;
    }
    @media (max-width: 575px) {
      padding: 40px 15px 20px 15px;
    }
    > .row {
      height: 100%;
    }
    &__description {
      display: flex;
      flex-direction: column;
    }
    &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      // @media (max-width: 992px) {
      //   object-fit: contain;
      // }
      @media (max-width: 575px) {
        height: 250px;
      }
    }
    &__title {
      color: #fff;
      text-align: left;
      font-family: 'Outfit', sans-serif;
      font-size: 1.75rem;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      text-transform: uppercase;
      text-decoration: underline;
      text-underline-offset: 8px;
      text-decoration-thickness: 2px;
    }
    &__mass {
      color: #fff;
      text-align: left;
      font-family: 'Outfit', sans-serif;
      font-size: 1.75rem;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      text-transform: capitalize;
      margin: 17px 0;
    }
    &__text {
      color: #fff;
      text-align: left;
      font-family: 'Outfit', sans-serif;
      font-size: 1.25rem;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      text-transform: capitalize;
      margin-bottom: auto;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
      > span {
        font-weight: 500;
      }
    }
    &__price {
      color: #fff;
      font-family: 'Outfit', sans-serif;
      font-size: 1.25rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-transform: capitalize;
      margin: 0;
    }
    &__one-line {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 25px;
      > .btn:first-child {
        margin-right: 15px;
      }
      @media (max-width: 575px) {
        margin-top: 15px;
      }
    }
    .btn {
      width: 175px;
      height: 42px;
      border: 2px solid #fff;
      border-radius: 0;

      color: #fff;
      font-family: 'Outfit', sans-serif;
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      text-transform: uppercase;
    }
    &__close {
      position: absolute;
      top: 10px;
      right: 17px;
      padding: 0;
      background-color: transparent;
      border: none;
      @media (max-width: 575px) {
        top: 3px;
        right: 5px;
        > svg {
          height: 35px;
          width: 35px;
        }
      }
    }
  }
}
