.buyList {
  width: 100px;
  height: 100px;

  background-color: rgba(0, 0, 0, 0.863);
  background-image: url('../../Assets/paketOrder.svg');
  background-size: 50%;
  background-position: center 35%;
  cursor: pointer;
  background-repeat: no-repeat;
  border-radius: 50%;

  &__text {
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(50%, -25%);
    color: #fff;
    font-family: Outfit;
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}

.buyHover {
  position: absolute;
  top: 50%;
  right: 120%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.863);
  white-space: nowrap;
  color: #fff;
  font-family: Outfit;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 5px 10px;
  border-radius: 3px;
  opacity: 0;
}

.buyContainer {
  position: fixed;
  transition: opacity 0.4s ease 0s;
  z-index: 11;
  top: 120px;
  right: 41px;

  &:hover {
    > .buyHover {
      opacity: 1;
    }
  }
}
