.recipe {
  &__header {
    width: 100%;
    height: 698px;
    position: absolute;
    background-image: url('../../Assets/dumplings-recipe-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
    z-index: -1;
  }
  &__container {
    > h2 {
      color: #fff;
      text-align: center;
      font-family: 'Outfit', sans-serif;
      font-size: 96px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      padding: 436px 0 0 0;
    }
    > .dop-info {
      margin: 208px 0 0 0;
      display: flex;
      width: 100%;
      justify-content: space-between;
      > .dop-info-item {
        > p {
          color: #b7b7b7;
          text-align: left;
          font-family: Inter;
          font-size: 24px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
        > h3 {
          color: #fff;
          text-align: center;
          font-family: Inter;
          font-size: 36px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }
      }
      @media (max-width: 992px) {
        > .dop-info-item {
          > p {
            font-size: 18px;
          }
          > h3 {
            font-size: 28px;
          }
        }
      }
    }
    > .descriptions {
      margin: 80px 0 0 0;
      display: flex;
      > .description {
        width: 66%;
        padding: 17px 30px;
        border-radius: 10px;
        background: #1f1f1f;
        > img {
          width: 100%;
          border-radius: 10px;
        }
        > h2 {
          text-align: left;
          color: #fff;
          font-family: Inter;
          font-size: 64px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }
        > p {
          color: #fff;
          text-align: justify;
          font-family: Inter;
          font-size: 32px;
          font-style: normal;
          font-weight: 300;
          line-height: normal;
        }
      }
      > .ingredients {
        margin-left: 16px;
        background: #171717;
        border-radius: 10px;

        width: 33%;
        justify-content: space-between;
        > ul {
          padding: 0 0 0 5px;
          list-style-type: none;
          > li {
            > p {
              margin-left: 15px;
              text-align: left;
              color: #fff;
              font-family: Inter;
              font-size: 20px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }
            > hr {
              width: 95%;
              margin: 45px 0;
              color: #8a8a8a;
              border-top: 1px solid;
              opacity: 1;
            }
          }
        }
        > h3 {
          text-align: left;
          margin: 37px 48px 30px;
          color: #fff;
          font-family: Inter;
          font-size: 32px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
      }
      @media (max-width: 992px) {
        > .description {
          > h2 {
            font-size: 48px;
          }
          > p {
            font-size: 24px;
          }
        }
        > .ingredients {
          > h3 {
            text-align: center;
            margin: 30px 0;
          }
        }
      }
      @media (max-width: 768px) {
        display: block;
        > .description {
          width: 100%;
        }
        > .ingredients {
          width: 100%;
          > ul {
            > li {
              > p {
                text-align: center;
              }
              > hr {
                width: 100%;
              }
            }
          }
        }
      }
    }
    > .instructions {
      margin-top: 45px;
      > h3 {
        margin-bottom: 56px;
        color: #fff;
        font-family: Inter;
        font-size: 64px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
      > ul {
        list-style-type: none;
        > li {
          > .list-text {
            display: flex;
            align-items: center;
            > p {
              margin: 0;
              color: #fff;
              text-align: justify;
              font-family: Inter;
              font-size: 24px;
              font-style: normal;
              font-weight: 300;
              line-height: normal;
            }
            > .number {
              margin-top: auto;
              margin-bottom: auto;
              margin-right: 48px;
              color: #fff;
              font-family: Inter;
              font-size: 96px;
              font-style: normal;
              font-weight: 300;
              line-height: normal;
            }
          }

          > hr {
            margin: 55px 0;
            color: #8a8a8a;
            border-top: 1px solid;
            opacity: 1;
          }
        }
      }
    }
  }
  > .ornament-left {
    height: 100%;
    width: 100px;
    background-image: url('../../Assets/ornaments/ornament-recipe.png');
    background-size: contain;
    position: absolute;
    z-index: -2;
    top: 40vh;
    left: 22px;
    @media (max-width: 1590px) {
      display: none;
    }
  }
  > .ornament-rigth {
    height: 100%;
    width: 100px;
    background-image: url('../../Assets/ornaments/ornament-recipe.png');
    background-size: contain;
    position: absolute;
    z-index: -2;
    top: 40vh;
    right: 22px;
    @media (max-width: 1590px) {
      display: none;
    }
  }
}
