.add-edit-form {
  margin: 20px 0;
  align-items: center;
  overflow: auto;
  &__body.blog.container {
    width: 100%;
    > form {
      > .form-element {
        > p {
          font-size: 1.2rem;
          margin-bottom: 10px;
        }
      }
    }
  }
  &__body.container {
    background-color: #1f1f1f;
    width: 40%;
    padding: 20px;
    border: 1px solid #fff;
    > form {
      > .form-label {
        display: flex;
        justify-content: space-between;
        color: #fff;
        font-family: 'Outfit', sans-serif;
        font-size: 48px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: capitalize;
        margin-bottom: 40px;
      }

      > .form-element.radiobtn {
        display: flex;
        align-items: center;
        justify-content: center;

        > .centered {
          margin: 0 20px;
        }
      }

      > .form-element.images {
        margin-top: 50px;
      }

      > .form-element {
        margin-bottom: 20px;

        // > .order-product {
        //   display: flex;
        //   align-items: center;
        //   margin-bottom: 15px;
        //   justify-content: space-between;
        //   > .mb-2 {
        //     width: 80%;
        //     > button {
        //       background-color: #272727;
        //       border: 1px solid #888888;
        //       color: #fff;
        //       width: 80%;
        //       margin-bottom: 1rem;
        //     }
        //     > .form-floating {
        //       > .form-control {
        //         border: 1px solid #fff;
        //         background: rgba(51, 45, 45, 0);
        //         color: white;
        //       }
        //       > label {
        //         color: white !important;
        //       }
        //       > .form-control:focus ~ label {
        //         color: white;
        //       }
        //       > .form-control:focus ~ label::after {
        //         display: none;
        //       }
        //       > .form-control:not(:placeholder-shown) ~ label::after,
        //       .form-floating > .form-select ~ label::after {
        //         display: none;
        //       }
        //       .form-control:-webkit-autofill,
        //       .form-control:-webkit-autofill:hover,
        //       .form-control:-webkit-autofill:focus,
        //       .form-control:-webkit-autofill:active {
        //         -webkit-box-shadow: 0 0 0 30px #1f1f1f inset !important;
        //         -webkit-text-fill-color: #ffffff;
        //       }
        //     }
        //   }
        //   > button {
        //     margin-bottom: 23px;
        //   }
        // }

        > .form-check {
          margin: 0;
          > input[type='radio'] {
            box-sizing: border-box;
            width: 20px;
            height: 20px;
            padding: 0;
            border: 2px solid #7e7e7e;
            border-radius: 0%;
            appearance: none;
            background-color: transparent;
            outline: none;
          }
          > input[type='checkbox'] {
            width: 50px;
            height: 20px;
          }
          > input[type='radio']:checked {
            border: 2px solid #fff;
            outline: none;
          }
          > label {
            margin: auto 0;
            color: #fff;
            font-family: 'Outfit', sans-serif;
            font-size: 1.2rem;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            text-transform: capitalize;
          }
        }

        > .control-element {
          display: block;

          > img {
            height: 220px;
            width: 220px;
            margin-bottom: 20px;
            object-fit: cover;
          }

          > .rendered-content {
            margin-bottom: 20px;
            > input {
              background: none;
              border: 1px solid #fff;
              color: #fff;
            }
            > textarea {
              resize: none;
              color: #fff;
              font-family: 'Outfit', sans-serif;
              font-size: 1rem;
              font-style: normal;
              line-height: normal;
              font-weight: 300;
              background-color: #1f1f1f;
              border-color: #fff;
            }
            > button {
              margin-top: 10px;
              width: 40%;
            }
            > img {
              height: 220px;
              width: 220px;
              margin-top: 20px;
              object-fit: cover;
            }
          }
        }
        > img {
          height: 220px;
          width: 220px;
          margin-top: 20px;
          object-fit: cover;
        }

        > textarea {
          resize: none;
          color: #fff;
          font-family: 'Outfit', sans-serif;
          font-size: 1rem;
          font-style: normal;
          line-height: normal;
          font-weight: 300;
          background-color: #1f1f1f;
          border-color: #fff;
        }
        > label {
          color: #b4b4b4;
          font-size: 1.2rem;
        }

        > .text-editor-header {
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          padding: 0.75rem;
          border: 1px solid #fff;
          text-align: left;
          margin-bottom: 0px;
          border-bottom: none;
          > button {
            margin: 0;
            padding: 0;
            background: none;
            border: none;
            // border-left: 1px solid #fff;
            // border-right: 1px solid #fff;
            // margin-right: 10px;
            > svg {
              width: 40px;
              height: 40px;
              border: none;
            }
            > svg:hover {
              width: 42px;
              height: 42px;
              background-color: #111111;
            }
            > p {
              margin: 0;
              width: 40px;
              height: 40px;
              border: none;
              font-size: 1.6rem;
              font-weight: 600;
              color: #fff;
            }
            > p:hover {
              width: 42px;
              height: 42px;
              background-color: #111111;
            }
          }
        }

        > .form-floating {
          > .form-control {
            border-radius: 5px;
            border: 1px solid;
            border-color: #fff;
            background-color: rgba(51, 45, 45, 0);
            color: white;
          }
          // > .form-control.is-valid {
          //   background-image: url('data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 8 8%27%3e%3cpath fill=%27%23198754%27 d=%27M2.3 6.73.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z%27/%3e%3c/svg%3e') !important;
          // }
          > label {
            color: white !important;
          }
          > .form-control:focus ~ label {
            color: white;
          }
          > .form-control:focus ~ label::after {
            display: none;
          }
          > .form-control:not(:placeholder-shown) ~ label::after,
          .form-floating > .form-select ~ label::after {
            display: none;
          }
          .form-control:-webkit-autofill,
          .form-control:-webkit-autofill:hover,
          .form-control:-webkit-autofill:focus,
          .form-control:-webkit-autofill:active {
            -webkit-box-shadow: 0 0 0 30px #1f1f1f inset !important;
            -webkit-text-fill-color: #ffffff;
          }
        }
        > p {
          color: #b4b4b4;
          font-family: 'Outfit', sans-serif;
          font-size: 16px;
          font-style: normal;
          font-weight: 300;
          line-height: normal;
          text-transform: capitalize;
          margin: 0 0 5px 0;
        }
        > input {
          background: none;
          border: 1px solid;
          border-color: #fff;
          color: #fff;
          margin-bottom: 20px;
        }
        > select {
          color: #fff;
          text-align: center;
          font-family: 'Outfit', sans-serif;
          font-size: 16px;
          font-style: normal;
          font-weight: 200;
          line-height: normal;
          border: 1px solid;
          border-color: #fff;
          padding: 10px;
          background-color: #1f1f1f;
        }
      }
      > p {
        margin: 0 auto 20px auto;
        border: 3px solid #b4b4b4;
        padding: 10px;
        color: #b4b4b4;
        font-weight: 500;
        font-size: 1.5rem;
        width: fit-content;
      }
      > .button__submit {
        width: 100%;
        font-weight: 650;
        font-size: 1.3rem;
      }
    }
  }
}

.validtaionText {
  color: var(--bs-form-invalid-color);
  font-size: .875em;
  margin-top: 0.25rem;
  width: 100%;
}