body {
  background: #f0f5f9;
}

.height {
  height: 65px;
}

.form {
  position: relative;
}

.form .fa-search {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #a6aaad;
}

.form span {
  position: absolute;
  right: 17px;
  top: 13px;
  padding: 2px;
  border-left: 1px solid #d1d5db;
}

.left-pan {
  padding-left: 7px;
}

.left-pan i {
  padding-left: 10px;
}

.form-input {
  height: 55px;
  text-indent: 33px;
  border-radius: 5px;
  font-family: 'Outfit';
  margin: 0;
}
.form-input:focus {
  box-shadow: none;
  border: none;
}
