.header {
  width: 100vw;
  height: 95px;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  transition: 0.3s ease-in;
  @media (max-width: 767px) {
    height: 85px;
  }
  @media (max-width: 575px) {
    height: 75px;
  }
  &__bg {
    background-color: #00000059;
  }
  &__bg-black {
    background-color: rgb(0 0 0 / 80%);
  }
  &__navbar {
    @media (max-width: 575px) {
      display: none !important;
    }
  }
  &__logo {
    display: flex;

    > img {
      height: 67px;
      width: 67px;
      align-self: center;
      @media (max-width: 767px) {
        height: 57px;
        width: 57px;
      }
      @media (max-width: 575px) {
        margin-left: 20px;
        height: 47px;
        width: 47px;
      }
    }
  }
  &__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  &__hamburger {
    display: none;
    width: 30px;
    height: 20px;
    position: absolute;
    top: 50%;
    right: 40px;
    -webkit-transform: rotate(0deg) translateY(-50%);
    -moz-transform: rotate(0deg) translateY(-50%);
    -o-transform: rotate(0deg) translateY(-50%);
    transform: rotate(0deg) translateY(-50%);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    background-color: transparent;
    border: none;
    z-index: 100;
    @media (max-width: 575px) {
      display: block;
    }
  }
  &__hamburger span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #fff;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }
  &__hamburger span:nth-child(1) {
    top: 0px;
  }
  &__hamburger span:nth-child(2),
  &__hamburger span:nth-child(3) {
    top: 10px;
  }
  &__hamburger span:nth-child(4) {
    top: 20px;
  }
  &__hamburger.open-hamburger span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  &__hamburger.open-hamburger span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  &__hamburger.open-hamburger span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  &__hamburger.open-hamburger span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  a {
    color: #ffffff;
    font-size: 1.5rem;
    font-family: 'Outfit', sans-serif;
    padding: 0 25px;
    text-decoration: none;
    @media (max-width: 767px) {
      padding: 0 15px;
    }
  }
  a:hover {
    color: #ffffff;
  }
  a:after {
    display: block;
    content: '';
    border-bottom: solid 3px #ffffff;
    transform: scaleX(0);
    transition: transform 150ms ease-in-out;
    transform-origin: 0% 50%;
  }
  a:hover:after {
    transform: scaleX(1);
  }
  .active:after {
    display: block;
    content: '';
    border-bottom: solid 3px #ffffff;
    transform: scaleX(0);
    transform-origin: 0% 50%;
    transform: scaleX(1);
  }
}
