.footer-body {
  width: 100%;
  border-top: 1px solid #bebebe;
  min-height: 270px;
  height: auto;
  background: #111111;
  padding-top: 30px;
  margin-top: auto;
  @media (max-width: 575px) {
    min-height: auto;
    padding-top: 15px;
  }
  .container{
    @media (max-width: 400px) {
      padding: 0 15px;
    }
  }
}

.footer-row {
  justify-content: space-around;
  > .footer-col{
    padding: 0;
  }
}

.footer-logo {
  opacity: 90%;
  width: 47px;
  height: 47px;
  @media (max-width: 575px) {
    margin-left: 15px;
  }
}

.footer-col.logo {
  @media (max-width: 400px) {
    display: none;
  }
}
.footer-hours {
  @media (max-width: 575px) {
    display: none !important;
  }
}
.footer-col {
  display: flex;
  flex-direction: column;
  @media (max-width: 575px) {
    flex: 0 0 auto;
    width: 25% !important;
  }
  @media (max-width: 400px) {
    width: 32% !important;
  }
  h2 {
    color: #fff;
    opacity: 93%;
    font-family: 'Outfit', sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    text-align: left;
    margin-top: 15px;
    margin-bottom: 20px;
  }
  > a {
    width: fit-content;
    > h2 {
      color: #fff;
      opacity: 93%;
      font-family: 'Outfit', sans-serif;
      font-size: 1.25rem;
      font-style: normal;
      font-weight: 100;
      line-height: normal;
      text-align: left;
      margin-top: 15px;
      margin-bottom: 20px;
    }
    > h2:hover {
      opacity: 100%;
    }
    > p {
      color: #bebebe;
      opacity: 75%;
      font-family: 'Outfit', sans-serif;
      font-size: 1.2rem;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      text-align: left;
      margin-bottom: 15px;
    }
    > p:hover {
      opacity: 100%;
    }
  }
  > p {
    color: #bebebe;
    opacity: 75%;
    font-family: 'Outfit', sans-serif;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-align: left;
    margin-bottom: 15px;
  }
  > p:hover {
    opacity: 100%;
  }
  > div {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 15px;
    > p {
      color: #fff;
      opacity: 93%;
      font-family: 'Outfit', sans-serif;
      font-size: 1.2rem;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      text-align: left;
      margin: 0;
    }
  }
  > div::before {
    content: '';
    width: 100%;
    border-bottom: 1px solid #fff;
    opacity: 80%;
    position: absolute;
    bottom: -5px;
  }

}
.footer-col:nth-child(2){
 @media (max-width: 400px) {
  width: 20% !important;
 }
}

.footer-line {
  width: 100%;
  border-bottom: 1px solid white;
  position: relative;
  left: 0;
  margin-top: 5px;
}
.footer-text-rights {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  > p {
    color: #bebebe;
    opacity: 75%;
    font-family: 'Outfit', sans-serif;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    vertical-align: middle;
    margin: 0;
  }
}

// .footer-col:first-child {
//   @media (max-width: 400px) {
//     width: 25px !important;
//   }
// }