.footer-body {
  width: 100%;
  min-height: 270px;
  height: auto;
  background: #232323;
  padding-top: 30px;
  margin-top: auto;
  @media (max-width: 575px) {
    min-height: auto;
    padding-top: 15px;
  }
}
.footer-logo {
  width: 47px;
  height: 47px;
  @media (max-width: 575px) {
    margin-left: 15px;
  }
}
.footer-hours {
  @media (max-width: 575px) {
    display: none !important;
  }
}
.footer-col {
  display: flex;
  //   justify-content: start;
  flex-direction: column;
  @media (max-width: 575px) {
    flex: 0 0 auto;
    width: 25% !important;
  }
  > h2 {
    color: #fff;
    font-family: 'Outfit', sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: left;
    margin-top: 15px;
    margin-bottom: 20px;
  }
  > a {
    > p {
      color: #fff;
      font-family: 'Outfit', sans-serif;
      font-size: 1.25rem;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      text-align: left;
      margin-bottom: 15px;
    }
  }
  > p {
    color: #fff;
    font-family: 'Outfit', sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-align: left;
    margin-bottom: 15px;
  }
  > div {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 15px;
    > p {
      color: #fff;
      font-family: 'Outfit', sans-serif;
      font-size: 1.25rem;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      text-align: left;
      margin: 0;
    }
  }
  > div::before {
    content: '';
    width: 100%;
    border-bottom: 1px solid #bebebe;
    position: absolute;
    bottom: -5px;
  }
}
.footer-line {
  width: 100%;
  border-bottom: 1px solid white;
  position: relative;
  left: 0;
  margin-top: 5px;
}
.footer-text-rights {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  > p {
    color: #bebebe;
    font-family: 'Outfit', sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    vertical-align: middle;
    margin: 0;
  }
}
