.admin-panel {
  padding-top: 30px;
  min-height: 100vh;
  &__header {
    > .user-name {
      text-align: left;
      font-size: 1.8rem;
      color: #5f5f5f;
      margin-bottom: 20px;
    }
    > .selecte-table {
      > .me-auto.nav {
        justify-content: space-between;
        margin: 0 0 50px 0;
        > button {
          border-radius: 0;
          font-family: 'Outfit', sans-serif;
          font-size: 1rem;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
        > a {
          color: #fff;
          font-family: 'Outfit', sans-serif;
          font-size: 24px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
        > a:hover {
          color: #ffffff;
        }
        > a:after {
          display: block;
          content: '';
          border-bottom: solid 3px #ffffff;
          transform: scaleX(0);
          transition: transform 150ms ease-in-out;
          transform-origin: 0% 50%;
        }
        > a:hover:after {
          transform: scaleX(1);
        }
        > .active {
          border-bottom: solid 3px #ffffff;
        }
        > .active:after {
          display: none;
        }
      }
    }
    > h2 {
      color: #fff;
      font-family: 'Outfit', sans-serif;
      font-size: 3.5rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
    > .manipulation {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 40px 0;

      > .search-bar {
        > input[type='text'] {
          border: none;
          border-radius: 5px;
          height: 65px;
          width: 438px;
          background-color: #3e3e3e;
          background-image: url('../../Assets/searchicon.png');
          background-position: 10px 15px;
          background-repeat: no-repeat;
          color: #fff;
          font-family: 'Outfit', sans-serif;
          font-size: 1.1rem;
          padding-left: 50px;
          font-style: normal;
          font-weight: 300;
          line-height: normal;
          @media (max-width: 1199px) {
            width: 300px;
          }
          @media (max-width: 767px) {
            width: 300px;
          }
        }
      }

      .checkbox-wrapper-22 {
        display: flex;
        align-items: center;
        margin-right: 10px;
        gap: 10px;
        .switchText {
          color: #fff;
          font-family: 'Outfit', sans-serif;
          font-size: 1rem;
          font-style: normal;
          font-weight: 300;
          line-height: normal;
        }
      }
      .checkbox-wrapper-22 .switch {
        display: inline-block;
        height: 34px;
        position: relative;
        width: 60px;
      }

      .checkbox-wrapper-22 .switch input {
        display: none;
      }

      .checkbox-wrapper-22 .slider {
        background-color: #bbbbbb;
        bottom: 0;
        cursor: pointer;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        transition: 0.4s;
      }

      .checkbox-wrapper-22 .slider:before {
        background-color: #fff;
        bottom: 4px;
        content: '';
        height: 26px;
        left: 4px;
        position: absolute;
        transition: 0.4s;
        width: 26px;
      }

      .checkbox-wrapper-22 input:checked + .slider {
        background-color: #3e3e3e;
      }

      .checkbox-wrapper-22 input:checked + .slider:before {
        transform: translateX(26px);
      }

      .checkbox-wrapper-22 .slider.round {
        border-radius: 34px;
      }

      .checkbox-wrapper-22 .slider.round:before {
        border-radius: 50%;
      }
      > .dropdown {
        color: #fff;
        text-align: center;
        padding: 5px;
        font-family: 'Outfit', sans-serif;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 200;
        line-height: normal;
        border: none;
        border-radius: 5px;
        background: #3e3e3e;
      }
      > .table-button {
        color: #fff;
        border: 1px solid #fff;
        padding: 10px;
        border-radius: 5px;
        width: 30%;
        display: block;
        font-weight: 600;
        font-size: 1rem;

        @media (max-width: 990px) {
          margin: 0 10px;
        }
      }
      > .table-button:hover {
        border: 1px solid #1f1f1f;
        background: #fff;
        color: #1f1f1f;
      }
    }
  }
  .orderTable {
    overflow: auto;
    height: 50vh;
    > .table {
      > thead {
        > tr {
          border: none;
        }
      }
    }
  }
  &__body {
    > .spinner {
      position: fixed;
      top: 65%;
      left: 50%;
      height: 5rem;
      width: 5rem;
      border-width: 10px;
      margin-left: 0 auto;
    }
    > .table {
      > thead {
        > tr {
          align-items: center;
          border: 2px solid #808080;
          > th {
            position: sticky;
            top: 0;
            color: #fff;
            font-family: 'Outfit', sans-serif;
            font-size: 1.75rem;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            background-color: #111111;
            border: none;
            padding-top: 54px;
            padding-bottom: 54px;
            > img {
              height: 50px;
              width: 50px;
            }
          }
        }
      }
      > tbody {
        > tr {
          > .blog-text {
            > button {
              margin-top: 20px;
              padding: 5px;
              background: none;
              border: none;
              border-radius: 0;
              padding-bottom: 2px;
            }
            button:hover {
              color: #ffffff;
            }
            button:after {
              display: block;
              content: '';
              border-bottom: solid 1px #ffffff;
              transform: scaleX(0);
              transition: transform 150ms ease-in-out;
              transform-origin: 0% 50%;
            }
            button:hover:after {
              transform: scaleX(1);
            }
          }
          > td {
            border: 2px solid #808080; //#4d4d4d;
            background-color: #272727;
            color: #fff;
            font-family: 'Outfit', sans-serif;
            font-size: 1.25rem;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            text-align: left;
            > span {
              display: -webkit-box;
              -webkit-line-clamp: 6;
              -webkit-box-orient: vertical;
              overflow: hidden;
            }
            > a.button-edit {
              margin: auto;
              display: block;
              width: 40px;
              height: 40px;
              background-position: center;
              background-size: cover;
            }
            > button.button-icon {
              background-color: transparent;
              border: none;
              margin: 0;
            }
          }
        }
      }
    }
  }
  .newOrder {
    background-color: #272727;
  }
  .processed {
    background-color: #a5a5a5;
  }
  .onWay {
    background-color: #e4e4e4;
  }
  .delivered {
    background-color: #ffffff;
  }
  .requiresProcessing {
    background-color: #833434;
  }
}

.admin-table {
  margin: 60px 50px 0 50px;
  th {
    background-color: #111111 !important;
    color: #fff !important;
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    line-height: normal;
  }
  td {
    background-color: #111111 !important;
    color: #fff !important;
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    line-height: normal;
    text-align: left;
    > div {
      height: 100%;
      display: flex;
      align-items: center;
      > p {
        margin: 0;
      }
    }
  }
  span {
    color: #fff !important;
    font-family: 'Outfit', sans-serif;
    font-size: 1rem;
    font-style: normal;
    line-height: normal;
    display: flex;
    align-items: center;
  }

  select {
    height: 100%;
    background-color: #212529;
    border: 1px solid #212529;
    color: #fff;
    padding: 0 10px;
    border-radius: 0.375rem;
    outline: none;
    // -moz-appearance: none; /* Firefox */
    // -webkit-appearance: none; /* Safari and Chrome */
    // appearance: none;
  }
  select:hover,
  select:focus-visible {
    border: 1px solid #424649 ;
  }
  .pagination {
    margin: 0 0 0 15px;
    > .page-item {
      > .page-link {
        color: #fff;
        background-color: #212529;
        border-color: #212529;
      }
    }
    > .active {
      > .page-link {
        background-color: #424649;
        border-color: #424649;
      }
    }
  }
}
