.not-found-content {
  height: 80vh;
  width: 80vw;
  background-image: url("../../Assets/not-found-bg.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  margin-top: 120px;
  > h2 {
    color: #fff;
    text-align: center;
    font-family: "Outfit", sans-serif;
    font-size: 200px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  > p {
    color: #fff;
    text-align: center;
    font-family: "Outfit", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}
